@model Vidly.Models.Movie
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genre: @Model.Genre.Name</h2>
<h2>Release Date: @Model.ReleaseDate</h2>
<h2>Date Added: @Model.DateAdded</h2>
<h2>Number in Stock: @Model.NumberInStock</h2>

